<div class="signup">
  <div class="container col-md-2 col-md-offset-5">
    <div class="input-group input-group-lg">
      <%= bootstrap_form_for(@user) do |f| %>
        <%= f.text_field :name %>
        <%= f.email_field :email %>
        <%= f.password_field :password %>
        <%= f.password_field :password_confirmation %>
        <%= f.check_box :remember_me %>
        <%= f.submit "Log In" %>
      <% end %>
    </div>
  </div>
</div>
