<!DOCTYPE html>
<html>
  <head>
    <title>Flack</title>
    <%#<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>%>
    <script src="//connect.soundcloud.com/sdk-2.0.0.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render partial: "layouts/navbar" %>
    <% if current_user %>
      <%= render partial: "layouts/sidebar" %>
    <% end %>

    <div class="flash pull-right">
      <%= flash_messages %>
    </div>

    <%= yield %>

  </body>
</html>
